DATABASE_URL="file:./dev.db"
AUTH_SECRET="change-me-to-a-long-random-string-min-32-chars"
ADMIN_EMAIL="admin@doctology.site"
ADMIN_PASSWORD="ChangeMe123!"
ADMIN_NAME="Doctology Admin"
PUBLIC_SITE_URL="http://localhost:3000"
# ANALYTICS_ID=""
# CONTACT_EMAIL="support@doctology.site"
